@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@900&display=swap");

body.dark {
  --bg: #282c35;
  --bg-secondary: #363c48;
  --header: #fff;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: #fff;
  --textLink: var(--pink);
}

body.light {
  --bg: #fff;
  --bg-secondary: #f9fafb;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #d23669;
}

body {
  --pink: #ffa7c4;
  background-color: var(--bg);
  color: var(--textNormal);
  transition: all 0.3s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body,
#__next {
  min-height: 100vh;
}

a {
  color: var(--textLink);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
