.root {
  transform: scale(0.8);
  :global {
    .toggle {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .dark-theme .toggle {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #aeb3cb;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(40px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    small {
      margin: 5px auto;
      font-size: 23px;
      margin-left: 4px;
    }
  }
}
