.intro {
  display: flex;
  line-height: 2;

  a {
    text-decoration: underline;
  }

  .danImage {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 19px;
    margin-top: 20px;
  }

  p {
    span {
      color: var(--textNormal);
      display: block;
      font-size: 0.9rem;
    }
  }
}
